<!DOCTYPE HTML>
<html>
    {% if DEFAULT_LANG %}
    <head lang="{{ DEFAULT_LANG }}">
    {% else %}
    <head>
    {% endif %}
        <meta charset="utf-8">
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta name="author" content="{{ AUTHOR }}">

        <!-- http://t.co/dKP3o1e -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Open Graph tags -->
        {% if USE_OPEN_GRAPH is not defined %}
            {% set USE_OPEN_GRAPH = True %}
        {% endif %}

        {% if USE_OPEN_GRAPH %}
            {% if OPEN_GRAPH_FB_APP_ID %}
                <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
            {% endif %}

            {% if article %}
                <meta property="og:type" content="article"/>
                <meta property="og:title" content="{{ article.title }}"/>
                <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
                <meta property="og:description" content="{{ article.summary|striptags }}"/>
                <meta name="description" content="{{ article.summary|striptags }}">
            {% elif page %}
                <meta property="og:type" content="article"/>
                <meta property="og:title" content="{{ page.title }}"/>
                <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
            {% else %}
                <meta property="og:type" content="website"/>
                <meta property="og:title" content="{{ SITENAME }}"/>
                <meta property="og:url" content="{{ SITEURL }}"/>
                <meta property="og:description" content="{{ SITENAME }}"/>
            {% endif %}

            {% if OPEN_GRAPH_IMAGE %}
                <meta property="og:image" content="{{ SITEURL }}/images/{{ OPEN_GRAPH_IMAGE }}"/>
            {% endif %}

        {% endif %}

        {% if FEED_ALL_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
        {% endif %}

        {% if FEED_ALL_RSS %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
        {% endif %}

        <link rel="canonical" href="{{ canonical }}">
        <link href="{{ SITEURL }}/favicon.png" rel="shortcut icon">
        <link href="{{ SITEURL }}/theme/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{{ SITEURL }}/theme/css/pygments.css" media="screen, projection" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link href="//fonts.googleapis.com/css?family=Nunito:400,300,700" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel='stylesheet' type='text/css'>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->

    </head>